<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ext4-browser</string>
	<key>CFBundleDisplayName</key>
	<string>ext4-browser</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>CFBundleName</key>
	<string>ext4-browser</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>ext4-browser</string>
	<key>CFBundleExecutable</key>
	<string>ext4-browser.app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
